NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=
NEXT_PUBLIC_TENDERLY_VIRTUAL_RPC_URL=
NEXT_PUBLIC_VERISTAKE_DEMO_DEPLOYMENT_ADDRESSES_JSON=
NEXT_PUBLIC_VERISTAKE_PROD_DEPLOYMENT_ADDRESSES_JSON=
NEXT_PUBLIC_PRIVY_APP_ID=
PRIVY_APP_ID=
PRIVY_APP_SECRET=
FAUCET_PRIVATE_KEY=
DEMO_VST_FAUCET_WALLET=
DEMO_VST_FAUCET_PRIVATE_KEY=
DEMO_VERIFIER_PRIVATE_KEYS_JSON=
SESSION_STORE=memory
KV_REST_API_URL=
KV_REST_API_TOKEN=
FAUCET_RATE_LIMIT_PER_HOUR=5
FAUCET_DAILY_CAP=25
TENDERLY_PROJECT_SLUG=
TENDERLY_ACCESS_KEY=
CALENDLY_URL=
NEXT_PUBLIC_EXPLORER_BASE_URL=https://sepolia.basescan.org
NEXT_PUBLIC_SITE_URL=http://localhost:3000
